.sign-up {
  width: 35vw;

  &__title {
    font-size: 1.7rem;
    margin: 0;
  }

  &__subtitle {
    font-size: 1.2rem;
  }

  &__form {
    margin-top: 3rem;
  }
}

@media (max-width: 425px) {
  .sign-up {
    width: 100%;
    margin-top: 3rem;
  }
}
