.menu-items {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 1rem;
  padding: 2rem 0;
}

@media (max-width: 767px) {
  .menu-items {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    gap: 1rem 0;
  }
}

@media (min-width: 1441px) {
  .menu-items {
    gap: 1.5rem;
  }
}
