$sub-color: grey;
$main-color: black;

@mixin shrinkLabel {
  top: -14px;
  font-size: 12px;
  color: $main-color;
}

.form-group {
  background-color: lightgray;

  &__input {
    background-color: lightgreen;
  }

  &__label {
    background-color: yellow;
  }
}
