.collection-preview {
  margin-bottom: 3rem;

  & a {
    text-decoration: none;
    color: dodgerblue;
  }

  &__title {
    color: dodgerblue;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: 5px;
    margin: 0;
    margin-bottom: 1rem;
  }
}

.preview {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

@media (max-width: 767px) {
  .preview {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 374px) {
  .preview {
    grid-template-columns: 1fr;
  }
}
