body {
  color: #333;
  font-family: 'Josefin Slab', serif;
  padding: 0 4rem;
}

@media (max-width: 767px) {
  body {
    padding: 0 2.5rem;
  }
}

@media (max-width: 423px) {
  body {
    padding: 0 1rem;
  }
}
